.project.title {
	color: gold;
	text-shadow: black 1px 1px 2px;
}

.project.wipLimit {
	color: firebrick;
	text-shadow: white 1px 1px 2px;
	float: right;
}

.project.privacy {
	color: grey;
	text-shadow: black -1px -1px 1px, white 1px 1px 1px;
	float: right;
	font-size: 16px;
}

a:link, a:visited {
	color: lightblue;
	text-decoration: underline;
}

.list-pulldown-list {
	background: grey;
}

.list-pulldown-item {
	border-bottom: 1px solid #0E0E0E;
	padding: 12px 16px;
	background-color: #999999;
	/*font-size: 14px;*/
	color: white;
}